[submodule "asam-openx-assets"]
	path = asam-openx-assets
	url = https://github.com/Persival-GmbH/asam-openx-assets.git
[submodule "tools/esmini"]
	path = tools/esmini
	url = https://github.com/esmini/esmini.git
[submodule "tools/openmcx"]
	path = tools/openmcx
	url = https://github.com/eclipse-openmcx/openmcx.git
